{% extends "base.html" %}
{% block content %}

<h4 class="center-align"> Add your own recipe </h4>

 <div class="row">
    <form class="col s8 offset-s2 center-align" method="POST" action="{{ url_for('add_recipe') }}">
<!--row for username and cooking time -->       
        <div class="row"> 
            <div class="input-field col s12 m6">
                <i class="fas fa-portrait prefix"></i>
                <input id="username" name="username" type="text" class="validate" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12 m6">
                <i class=" fas fa-clock prefix"></i>
                <input id="cooking_time" name="cooking_time" type="text" class="validate" required>
                <label for="cooking_time">Cooking time</label>
            </div>
<!--row for Recipe name , Category and dietary options -->
        <div class="row"> 
            <div class="input-field col s12 m4">
                <i class=" fas fa-pencil-alt prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="30" type="text" class="validate" required>
                <label for="recipe_name">Recipe name</label>
            </div>  
            <div class="input-field col s12 m4">
                <select id="category_name" name="category_name" class="validate" required>
                <option  disabled selected>Pick Category</option>
                {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endfor %}
                </select>
                <label for="category_name"> Category</label>
            </div>
            <div class="input-field col s12 m4 ">
                <select id="dietary_option" name="dietary_option" class="validate" multiple>
                <option  disabled selected>Pick dietary options</option>
                {% for dietary in dietary %}
                    <option value="{{ dietary.dietary_option }}">{{ dietary.dietary_option }}</option>
                {% endfor %}
                </select>
                <label for="dietary_option">Dietary Option</label>
            </div>
    <!--Ingredients--> 
        <div class="row">
            <div class="input-field col s12 ">
                <i class=" fas fa-list-ul prefix"></i>
                <textarea id="ingredients" name="ingredients" minlength="5" maxlength="700" type="text" class="validate"  required></textarea>
                <label for="recipe_name" > Ingredients</label>
            </div>
        </div>
    <!--Preparation--> 
         <div class="row">
                <div class="input-field col s12  ">
                <i class=" fas fa-list-ol prefix"></i>    
                <textarea id="preparation_steps" name="preparation_steps" minlength="5" maxlength="4000" type="text"  class="validate"  required></textarea>
                <label for="preparation_steps" > Preparation</label>
            </div>
        </div>
      </div>
     </div>
<!--submitt button--> 
     <div class="row">
         <div class="col s12 center align">
            <button type="submit" class="btn-large red darken-2">Add Recipe</button>
         </div>
     </div>
   </form>
  </div>

{% endblock %}    