{% extends "base.html" %}
{% block content %}

<h4 class="center-align"> Edit Recipe </h4>

 <div class="row">
    <form class="col s8 offset-s2 center-align" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
<!--row for username and cooking time -->       
        <div class="row"> 
            <div class="input-field col s12 m6">
                <i class="fas fa-portrait prefix"></i>
                <input id="username" name="username" type="text" class="validate" required>
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12 m6">
                <i class=" fas fa-clock prefix"></i>
                <input id="cooking_time" name="cooking_time" type="text" class="validate" required>
                <label for="cooking_time">Cooking time</label>
            </div>
<!--row for Recipe name , Category and dietary options -->
        <div class="row"> 
            <div class="input-field col s12 m4">
                <i class=" fas fa-pencil-alt prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" value="{{recipe.recipe_name}}"
                 maxlength="30" type="text" class="validate" required>
                <label for="recipe_name">Recipe name</label>
            </div>  
            <div class="input-field col s12 m4">
                <select id="category_name" name="category_name" class="validate" multiple required>
                <option  disabled selected value="">Pick Category</option>
                {% for category in categories %}
                    {% if category.category_name == recipe.category %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <label for="category_name"> Category</label>
            </div>
            <div class="input-field col s12 m4 ">
                <select id="dietary_options" name="dietary_options" class="validate" multiple>
                <option  disabled >Pick dietary options</option>
                {% for dietary in dietary %}
                    <option value="{{ dietary.dietary_options }}">{{ dietary.dietary_options }}</option>
                {% endfor %}
                </select>
                <label for="dietary_options">Dietary Options</label>
            </div>
    <!--Ingredients--> 
        <div class="row">
            <div class="input-field col s12 ">
                <i class=" fas fa-list-ul prefix"></i>
                <textarea id="ingredients" name="ingredients" minlength="5"
                 maxlength="700" class="validate"  required>{{ recipe.ingredients }}</textarea>
                <label for="recipe_name" > Ingredients</label>
            </div>
        </div>
    <!--Preparation--> 
         <div class="row">
                <div class="input-field col s12  ">
                <i class=" fas fa-list-ol prefix"></i>    
                <textarea id="preparation_steps" name="preparation_steps" minlength="5"
                 maxlength="4000" class="validate"  required>{{ recipe.preparation_steps }}</textarea>
                <label for="preparation_steps" > Preparation</label>
            </div>
        </div>
      </div>
     </div>
<!--cancel and edit button--> 
     <div class="row">
         <div class="col s12 center align">
            <a href="{{ url_for('get_recipes') }}" class="btn-large red darken-2">CANCEL CHANGES</a>
            <button type="submit" class="btn-large green">EDIT RECIPE</button>
         </div>
     </div>
   </form>
  </div>
 
{% endblock %}    