{% extends "base.html" %}
{% block content %}


<section id="hero2">
    <h4 class="center-align">LOG IN HERE </h4>
    <!--card panel-->
    <div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
      <div class="card-panel deep-orange lighten-5">
        <!--username-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-portrait prefix red-text text-darken-2"></i>
                <input id="username" name="username" type="text" minlength="7" 
                    maxlength="15" pattern="^[a-zA-Z0-9]{7,15}$" class="validate" required>
                <label for="username">Username</label>
            </div>
        </div>
        <!--password-->
        <div class="row">
          <div class="input-field col s12">
            <i class="fas fa-lock prefix red-text text-darken-2"></i>  
            <input id="password" name="password" type="password" minlength="7" 
                maxlength="15" pattern="^[a-zA-Z0-9]{7,15}$" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>
        <!--log inbutton-->
        <div class="row">
          <button type="submit" class="col s6 offset-s3  hoverable btn-small center-align red darken-2  white-text">
              LOG IN<i class="fas fa-arrow-circle-right"></i>
          </button>

        </div>
         <h6 class="center-align">
            Not registered yet? 
            <a href="{{ url_for('register') }}" class="red-text text-darken-1  hoverable">Create an account</a>
         </h6>
      </div>
    </form>
  </div>
</section>
{% endblock %}