{% extends 'base.html'%} 
{% block content %}


<div class="container">
   
    <div>
        <h4>{{recipe.recipe_name}}</h4>
    </div>
    
    <div class="inline-details">
        <div class="col s6 m3 no-side-padding">
            <p>Prep: {{recipe.cooking_time}} mins</p>
        </div>
        <div>
            <p>Uploaded by - {{recipe.created_by}}</p>
        </div>
    </div>
    <div class="paragraph-details">

        <h5>Ingredients</h5>
        <p>{{recipe.ingredients}}</p>

    </div>
    <div class="paragraph-details">
        <h5>Preparation</h5>
        <p>{{recipe.preparation_steps}}</p>

    </div>
    
</div>


{% endblock %}