{% extends "base.html" %}
{% block content %}

    <div class="row">
     <div class="col s6 offset-s3">
        <ul class="collapsible">
            {% for recipe in recipes %}

            <li>
                <div class="collapsible-header  grey ">
                    <i class=""></i>
                    <strong>{{ recipe.category_name }}</strong> : {{ recipe.cooking_time }} : {{ recipe.allergens }}
                </div>
                <div class="collapsible-body">
                    <strong>{{ recipe.recipe_name }}</strong>
                    <ul>
                      <li>
                        {{ recipe.ingredients }}
                      </li>
                    </ul>
                    <ol>
                      <li>
                        {{ recipe.preparation_steps }}
                      </li>
                    </ol>
                    
                </div>
            </li>
          {% endfor %}
        </ul>
        
    </div>
  </div>
        
  

{% endblock %}    