{% extends "base.html" %}
{% block content %}


<section id="hero2">
    <h4 class="center-align">REGISTER HERE</h4>
    <!--card panel-->
    <div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{ {url_for('register') }}">
      <div class="card-panel orange lighten-5">
        <!--username-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-portrait prefix red-text text-darken-2"></i>
                <input id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <!--password-->
        <div class="row">
          <div class="input-field col s12">
            <i class="fas fa-lock prefix red-text text-darken-2"></i>  
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <!--button-->
        <div class="row">
          <button type="submit" class="col s12   hoverable btn-small center-align red darken-2  white-text">
              Register <i class="fas fa-arrow-circle-right"></i>
          </button>

        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}